openapi: 3.1.0
# Canonical OpenAPI for implemented routes — do not duplicate in openapi.json/TS.
info:
  title: TripPlan API
  version: 0.1.0
  description: |
    TripPlan HTTP API. Owner auth is external OIDC at
    auth.ericminassian.com via in-Lambda verification (no Cognito).
    Share session routes are reserved for a later PR.
servers:
  - url: https://plan.ericminassian.com
    description: Production (CloudFront → API Gateway)
  - url: http://localhost:3000
    description: Local development
tags:
  - name: Public
    description: No JWT required
  - name: Owner
    description: OIDC access token (Bearer / DPoP auto)
paths:
  /api/v1/health:
    get:
      operationId: getHealth
      tags: [Public]
      summary: Liveness check
      description: Public health endpoint; no authentication.
      security: []
      responses:
        "200":
          description: Service is up
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                status: ok
  /api/v1/me:
    get:
      operationId: getMe
      tags: [Owner]
      summary: Current owner profile
      description: |
        Requires a verified owner access token. Upserts the user profile from
        JWT claims (`userId` = `sub`, `displayName` from `nickname` when present,
        stores `iss`). Never requires email.
      security:
        - ownerBearer: []
      responses:
        "200":
          description: Profile (created or existing)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "401":
          description: Missing or invalid access token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
          headers:
            WWW-Authenticate:
              schema:
                type: string
              description: RFC 6750 / RFC 9449 challenge when provided by the verifier
  /api/v1/trips:
    post:
      operationId: createTrip
      tags: [Owner]
      summary: Create trip
      description: |
        Create a trip owned by the authenticated subject (`sub`).
        Hard limit: 100 active trips per owner (ValidationError beyond).
      security:
        - ownerBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTrip"
      responses:
        "201":
          description: Trip created
          headers:
            ETag:
              schema:
                type: string
              description: Opaque version string (e.g. `"1"`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trip"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
    get:
      operationId: listTrips
      tags: [Owner]
      summary: List owned active trips
      description: |
        Cursor-paginated list of the caller's active trips (deleted hidden).
        Default page size 50 (max 50).
      security:
        - ownerBearer: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Opaque cursor from a previous page's `nextCursor`
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 50
      responses:
        "200":
          description: Page of trips
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripListResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /api/v1/trips/{tripId}:
    parameters:
      - $ref: "#/components/parameters/tripId"
    get:
      operationId: getTrip
      tags: [Owner]
      summary: Get trip meta + items
      description: |
        Returns trip metadata and items ordered by `sortKey` ascending.
        Soft-deleted trips return 404.
      security:
        - ownerBearer: []
      responses:
        "200":
          description: Trip detail
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      operationId: patchTrip
      tags: [Owner]
      summary: Update trip metadata
      description: |
        Requires `If-Match` with the current integer version (opaque quoted form).
        Body field `expectedVersion` is rejected with 400 ValidationError.
        Version mismatch → 409 Conflict with current `version` in details.
      security:
        - ownerBearer: []
      parameters:
        - name: If-Match
          in: header
          required: true
          schema:
            type: string
          description: Opaque version, e.g. `"1"`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTrip"
      responses:
        "200":
          description: Updated trip
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trip"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      operationId: deleteTrip
      tags: [Owner]
      summary: Soft-delete trip (interim)
      description: |
        Interim contract: sets `status=deleted` and `deletedAt` on trip meta only.
        Does not cascade children or enqueue SQS. List/GET hide deleted trips.
        Feature flag `TRIPS_DELETE_ENABLED` defaults on.
      security:
        - ownerBearer: []
      responses:
        "200":
          description: Soft-deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripDeleteResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Delete disabled by feature flag
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/trips/{tripId}/export:
    parameters:
      - $ref: "#/components/parameters/tripId"
    get:
      operationId: exportTrip
      tags: [Owner]
      summary: Export trip JSON
      description: Portability payload — trip meta + items ordered by sortKey.
      security:
        - ownerBearer: []
      responses:
        "200":
          description: Export JSON
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/trips/{tripId}/items:
    parameters:
      - $ref: "#/components/parameters/tripId"
    post:
      operationId: createItem
      tags: [Owner]
      summary: Create itinerary item
      description: |
        Create a discriminated itinerary item. Server assigns `itemId`, `sortKey`
        (append at end, gap 1000), `version: 1`, and timestamps.
        Hard limit: 100 items per trip (**best-effort** under concurrent creates;
        serial create beyond 100 is hard-rejected). Bumps trip version.
        Optional `Idempotency-Key` (max 128 chars, per-owner; cross-trip reuse → 409).
      security:
        - ownerBearer: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
            maxLength: 128
          description: Optional create idempotency key (24h TTL)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateItineraryItem"
            example:
              type: flight
              title: UA 100 SFO → JFK
              startAt: "2026-09-12T08:00:00-07:00"
              endAt: "2026-09-12T16:35:00-04:00"
              details:
                flightNumber: "100"
                airlineCode: UA
      responses:
        "201":
          description: Item created
          headers:
            ETag:
              schema:
                type: string
              description: Item version (e.g. `"1"`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItineraryItem"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/trips/{tripId}/items/reorder:
    parameters:
      - $ref: "#/components/parameters/tripId"
    post:
      operationId: reorderItems
      tags: [Owner]
      summary: Reorder itinerary items
      description: |
        Full permutation reorder. Requires `If-Match` on **trip** version (trip-level lock).
        Assigns `sortKey = (index + 1) * 1000`, bumps trip version first, then updates
        items in chunks of ≤25. Body `expectedVersion` is rejected.
      security:
        - ownerBearer: []
      parameters:
        - name: If-Match
          in: header
          required: true
          schema:
            type: string
          description: Current trip version, e.g. `"1"`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReorderItems"
      responses:
        "200":
          description: Trip with reordered items
          headers:
            ETag:
              schema:
                type: string
              description: New trip version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripDetail"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/trips/{tripId}/items/{itemId}:
    parameters:
      - $ref: "#/components/parameters/tripId"
      - $ref: "#/components/parameters/itemId"
    patch:
      operationId: patchItem
      tags: [Owner]
      summary: Update itinerary item
      description: |
        Requires `If-Match` with the current **item** version. `type` is immutable
        (reject if present). Body `expectedVersion` is rejected. `details` is full replace
        when present. Version mismatch → 409.
      security:
        - ownerBearer: []
      parameters:
        - name: If-Match
          in: header
          required: true
          schema:
            type: string
          description: Current item version, e.g. `"1"`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateItineraryItem"
      responses:
        "200":
          description: Updated item
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItineraryItem"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
    delete:
      operationId: deleteItem
      tags: [Owner]
      summary: Delete itinerary item
      description: |
        Deletes the item row. Attachment cascade deferred to attachments PR.
      security:
        - ownerBearer: []
      responses:
        "204":
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/enrich/flight:
    post:
      operationId: enrichFlight
      tags: [Owner]
      summary: Flight schedule enrichment
      description: |
        Lookup flight schedule by number + civil date. **Owner JWT required**
        (never public). Suggest-then-confirm: returns a prefill DTO; does **not**
        write itinerary items. Schedule not found is **200** with
        `{ status: "not_found" }` (not ApiErrorBody). Ambiguous matches → 422
        `AmbiguousEnrichment`. Live provider is AeroDataBox when
        `enrichment.flight.live` / `ENRICHMENT_FLIGHT_LIVE` is true; default is
        mock. Per-user rate limit (default 60/hour) and monthly $ budget apply.
      security:
        - ownerBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnrichFlightRequest"
            examples:
              ua100:
                summary: United 100
                value:
                  flightNumber: "UA100"
                  date: "2026-07-15"
                  departureAirportHint: "SFO"
      responses:
        "200":
          description: |
            Enrichment suggestion (found / cancelled) or not_found success DTO.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlightEnrichmentResponse"
              examples:
                found:
                  summary: Schedule found
                  value:
                    status: found
                    airlineCode: UA
                    airlineName: United Airlines
                    flightNumber: "100"
                    departure:
                      airportIata: SFO
                      airportName: San Francisco International Airport
                      scheduledAt: "2026-07-15T08:00:00-07:00"
                      lat: 37.6213
                      lng: -122.379
                      timezone: America/Los_Angeles
                    arrival:
                      airportIata: JFK
                      scheduledAt: "2026-07-15T16:30:00-04:00"
                      lat: 40.6413
                      lng: -73.7781
                      timezone: America/New_York
                    provider: mock
                    fetchedAt: "2026-07-11T12:00:00Z"
                    confidence: 0.95
                not_found:
                  summary: Schedule not found (still HTTP 200)
                  value:
                    status: not_found
                    provider: mock
                    fetchedAt: "2026-07-11T12:00:00Z"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          description: Ambiguous enrichment (multiple candidates)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "429":
          description: Per-user enrich rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
        "502":
          description: Upstream unavailable or monthly budget exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorBody"
components:
  securitySchemes:
    ownerBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        OIDC access token from auth.ericminassian.com (audience `plan`).
        DPoP-bound tokens must include a valid DPoP proof (mode auto).
  parameters:
    tripId:
      name: tripId
      in: path
      required: true
      schema:
        type: string
    itemId:
      name: itemId
      in: path
      required: true
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid access token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorBody"
    NotFound:
      description: Resource not found (or soft-deleted for owner GET)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorBody"
    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorBody"
    Conflict:
      description: Optimistic concurrency conflict (version mismatch)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiErrorBody"
  schemas:
    HealthResponse:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status:
          type: string
          const: ok
    UserProfile:
      type: object
      additionalProperties: false
      required: [userId, iss, displayName, createdAt]
      properties:
        userId:
          type: string
          description: OIDC subject (`sub`)
        iss:
          type: string
          description: Token issuer
        displayName:
          type: string
          description: From nickname claim when present; otherwise previous or sub
        createdAt:
          type: string
          description: Canonical Instant (ISO-8601 second precision with zone)
          examples:
            - "2026-07-10T12:00:00Z"
    CivilDate:
      type: string
      pattern: '^\d{4}-\d{2}-\d{2}$'
      description: Real calendar civil date YYYY-MM-DD
    CreateTrip:
      type: object
      additionalProperties: false
      required: [title, timezone, startDate, endDate]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        timezone:
          type: string
          description: IANA time zone
        startDate:
          $ref: "#/components/schemas/CivilDate"
        endDate:
          $ref: "#/components/schemas/CivilDate"
    UpdateTrip:
      type: object
      additionalProperties: false
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        timezone:
          type: string
        startDate:
          $ref: "#/components/schemas/CivilDate"
        endDate:
          $ref: "#/components/schemas/CivilDate"
      description: At least one field required. Do not send expectedVersion.
    Trip:
      type: object
      additionalProperties: false
      required:
        [tripId, ownerId, title, timezone, startDate, endDate, version, status]
      properties:
        tripId:
          type: string
        ownerId:
          type: string
        title:
          type: string
        timezone:
          type: string
        startDate:
          $ref: "#/components/schemas/CivilDate"
        endDate:
          $ref: "#/components/schemas/CivilDate"
        version:
          type: integer
          minimum: 1
        status:
          type: string
          enum: [active, deleting, deleted]
        deletedAt:
          type: string
          description: Present when soft-deleted
    TripDetail:
      allOf:
        - $ref: "#/components/schemas/Trip"
        - type: object
          required: [items]
          properties:
            items:
              type: array
              items:
                $ref: "#/components/schemas/ItineraryItem"
              description: Itinerary items ordered by sortKey ascending
    ItemType:
      type: string
      enum:
        - flight
        - train
        - hotel
        - transport
        - activity
        - ticket
        - note
        - custom
    CreateItineraryItem:
      type: object
      required: [type, title, details]
      description: |
        Discriminated create DTO (runtime schema is a typed union in
        `@tripplan/domain`; OpenAPI documents the envelope only). Omits server
        fields (itemId, tripId, sortKey, version, createdAt, updatedAt).
        Instant fields accept RFC 3339 with zone. `details` shape is validated
        per `type` (e.g. flight requires flightNumber).
      properties:
        type:
          $ref: "#/components/schemas/ItemType"
        title:
          type: string
          minLength: 1
          maxLength: 200
        startAt:
          type: string
        endAt:
          type: string
        startTimeZone:
          type: string
        endTimeZone:
          type: string
        startLocation:
          type: object
          additionalProperties: true
        endLocation:
          type: object
          additionalProperties: true
        notes:
          type: string
          maxLength: 5000
        confirmationCode:
          type: string
          maxLength: 64
        enrichment:
          type: object
          additionalProperties: true
        details:
          type: object
          additionalProperties: true
          description: Type-specific details (must match `type`; validated at runtime)
    UpdateItineraryItem:
      type: object
      additionalProperties: false
      description: |
        Partial patch. Do not send `type` (immutable) or `expectedVersion` (use If-Match).
        When `details` is present it fully replaces details for the stored type.
        `startAt` / `endAt`: Instant string to set, JSON `null` to clear, omit to leave.
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
        startAt:
          type: string
          nullable: true
          description: RFC 3339 Instant to set, or null to clear
        endAt:
          type: string
          nullable: true
          description: RFC 3339 Instant to set, or null to clear
        startTimeZone:
          type: string
        endTimeZone:
          type: string
        startLocation:
          type: object
          additionalProperties: true
        endLocation:
          type: object
          additionalProperties: true
        notes:
          type: string
          maxLength: 5000
        confirmationCode:
          type: string
          maxLength: 64
        enrichment:
          type: object
          nullable: true
          additionalProperties: true
          description: |
            Enrichment meta to set, or JSON `null` to clear stored enrichment
            (e.g. after a failed re-lookup). Omit to leave unchanged.
        details:
          type: object
          additionalProperties: true
    ItineraryItem:
      type: object
      required:
        - itemId
        - tripId
        - type
        - title
        - details
        - sortKey
        - version
        - createdAt
        - updatedAt
      properties:
        itemId:
          type: string
        tripId:
          type: string
        type:
          $ref: "#/components/schemas/ItemType"
        title:
          type: string
        startAt:
          type: string
        endAt:
          type: string
        startTimeZone:
          type: string
        endTimeZone:
          type: string
        startLocation:
          type: object
          additionalProperties: true
        endLocation:
          type: object
          additionalProperties: true
        notes:
          type: string
        confirmationCode:
          type: string
        sortKey:
          type: number
          description: Ordering attribute; never encoded in Dynamo SK
        version:
          type: integer
          minimum: 1
        enrichment:
          type: object
          additionalProperties: true
        details:
          type: object
          additionalProperties: true
        createdAt:
          type: string
        updatedAt:
          type: string
    ReorderItems:
      type: object
      additionalProperties: false
      required: [itemIds]
      properties:
        itemIds:
          type: array
          items:
            type: string
          description: Full permutation of all current item IDs for the trip
    TripListResponse:
      type: object
      additionalProperties: false
      required: [trips]
      properties:
        trips:
          type: array
          items:
            $ref: "#/components/schemas/Trip"
        nextCursor:
          type: string
          description: Opaque cursor for the next page when more results exist
    TripDeleteResponse:
      type: object
      additionalProperties: false
      required: [tripId, status, version]
      properties:
        tripId:
          type: string
        status:
          type: string
          const: deleted
        deletedAt:
          type: string
        version:
          type: integer
    EnrichFlightRequest:
      type: object
      additionalProperties: false
      required: [flightNumber, date]
      properties:
        flightNumber:
          type: string
          minLength: 1
          maxLength: 16
          description: Airline designator + number (e.g. UA100 or UA 100)
        date:
          $ref: "#/components/schemas/CivilDate"
        departureAirportHint:
          type: string
          pattern: '^[A-Za-z]{3}$'
          description: Optional departure IATA to disambiguate
    FlightEndpointSuggestion:
      type: object
      additionalProperties: false
      required: [airportIata, scheduledAt]
      properties:
        airportIata:
          type: string
        airportName:
          type: string
        scheduledAt:
          type: string
          description: Canonical Instant (ISO-8601 second precision with zone)
        terminal:
          type: string
        gate:
          type: string
        lat:
          type: number
        lng:
          type: number
        timezone:
          type: string
    FlightEnrichmentFound:
      type: object
      additionalProperties: false
      required:
        - status
        - flightNumber
        - departure
        - arrival
        - provider
        - fetchedAt
      properties:
        status:
          type: string
          enum: [found, cancelled]
        airlineCode:
          type: string
        airlineName:
          type: string
        flightNumber:
          type: string
        departure:
          $ref: "#/components/schemas/FlightEndpointSuggestion"
        arrival:
          $ref: "#/components/schemas/FlightEndpointSuggestion"
        provider:
          type: string
          description: mock | aerodatabox
        fetchedAt:
          type: string
        confidence:
          type: number
        operatedBy:
          type: string
    FlightEnrichmentNotFound:
      type: object
      additionalProperties: false
      required: [status, provider, fetchedAt]
      properties:
        status:
          type: string
          const: not_found
        provider:
          type: string
        fetchedAt:
          type: string
    FlightEnrichmentResponse:
      oneOf:
        - $ref: "#/components/schemas/FlightEnrichmentFound"
        - $ref: "#/components/schemas/FlightEnrichmentNotFound"
      description: |
        Success body for POST /enrich/flight. `not_found` is HTTP 200 (not
        ApiErrorBody) so clients do not confuse it with resource 404.
    ApiErrorBody:
      type: object
      additionalProperties: false
      required: [type, message, retryable, requestId]
      properties:
        type:
          type: string
          enum:
            - NotFound
            - Forbidden
            - Unauthorized
            - ValidationError
            - MethodNotAllowed
            - Conflict
            - PayloadTooLarge
            - RateLimited
            - UpstreamUnavailable
            - AmbiguousEnrichment
            - InternalError
        message:
          type: string
        details: {}
        retryable:
          type: boolean
        requestId:
          type: string
